header{
    padding: 35px;
    background-color: rgb(112, 150, 255);
    border: 4.5px solid rgb(69, 124, 241);
    text-align: center;
    width: 100%; 
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal ;
    font-size: 60px;
    color: aliceblue;
    text-align: center;
    -webkit-text-stroke: 1.25px black ;
    background:linear-gradient(45deg,rgb(2, 2, 205),rgb(249, 247, 247))
}

nav {
    background-color: #fafafa;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: sticky;
    background:linear-gradient(45deg,rgb(174, 174, 179),rgb(200, 208, 252))
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: "Anton", sans-serif;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
}

nav ul li a:hover {
    color: #333;
}

.portfolio {
    background-color: #eeecec;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 20px;
    text-align: center;
    background:linear-gradient(45deg,rgb(187, 187, 198),rgb(255, 255, 255))
    
}

main {
    padding: 30px;
    float: none;
    width: 45%;
    padding-top: 20px;
    height: 40px;
    
}

.About-text{
    padding-top: 40px;
    font-family: "Anton", sans-serif;
    color: white;
    -webkit-text-stroke: 1px #333;
    font-size: 35px;
}

.info-aboutme{
    float: left;
}
h2{
    padding: 50px;
    font-family: "Anton", sans-serif;
    color: white;
    -webkit-text-stroke: 1px #333;
    font-size: 60px;
}