header{
    padding: 35px;
    background-color: rgb(112, 150, 255);
    border: none solid rgb(69, 124, 241);
    text-align: center;
    width: none; 
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal ;
    font-size: 60px;
    color: aliceblue;
    text-align: center;
    -webkit-text-stroke: 1.25px black ;
    background:linear-gradient(45deg,rgb(24, 42, 64),rgb(123, 128, 130))
}

nav {
    background-color: #fafafa;
    padding: 10px;
    text-align: center;
    width: none;
    position: sticky;
    background:linear-gradient(45deg,rgb(33, 33, 56),rgb(223, 227, 247))
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: "Anton", sans-serif;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
}

nav ul li a:hover {
    color: #333;
}

.portfolio {
    background-color: #eeecec;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 20px;
    text-align: center;
    background:linear-gradient(45deg,rgb(187, 187, 198),rgb(255, 255, 255))
    
}

main {
    padding: 30px;
    float: none;
    width: 45%;
    padding-top: 20px;
    height: 40px;
    
}

.About-text{
    padding-top: 40px;
    font-family: "Anton", sans-serif;
    color: white;
    -webkit-text-stroke: 1px #333;
    font-size: 35px;
}

.info-aboutme{
    float: left;
}
h2{
    padding-top: 70px;
    font-family: "Anton", sans-serif;
    color: white;
    -webkit-text-stroke: 1px #333;
    font-size: 60px;
}
h3{
    float: right;
    padding-left: 30px;
    font-family: "Anton", sans-serif;
    color: white;
    -webkit-text-stroke: 1px #333;
    font-size: 35px;
}
body {

    background-image: url("resource/bc4k.jpg");
    background-size: cover;
    background-repeat: repeat-x;
    animation: moveBackground 90s infinite linear;
}

@keyframes moveBackground {
    0% {background-position: 0 0;}
    100% {background-position: 100% 100%;}
}

